body {background-color:black;font-family:arial;color:white;}
h1{color:grey;font-family:verdana}
 
.maindiv{
    background-color: white;
    color: black;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
    margin: auto;
    
     align:center;
      
}
.centerdiv{
    margin: auto;
    width: fit-content;


}
.tablediv{
    display: table; 
      border-collapse: separate;
  border-spacing: 10px;
}
p{display: table-row; }
label,input,select{
 display: table-cell;
}
.resultdiv{
    margin-left:10px
}
